@import "variables.scss";
@import "bootstrap-sources/bootstrap-grid.scss";
@import "slick.scss";   

/* Styles for all pages (UI KIT) */

/* 1. General settings */
/* 2. Buttons/links settings */
/* 3. Color settings */
/* 4. Font-sizing settings (headers, etc.) */
/* 5. Navigation and footer */
/* 6. Popups */ 


/* 1. GENERAL SETTINGS */

*{
	box-sizing:border-box; 
}

html{
	font-size:$font_size;
	font-family: $font_first;
}

body{
	margin: 0;
	&.modal-open {
		overflow: hidden;
	}	
}

ul{
	list-style: none;
	padding: 0;
	padding-left: 20px;
	margin:0;
}

.overflow-hidden{
	overflow: hidden;
}

.underline{
	text-decoration: underline;
}

.slick-slide{
	border: none !important;		
}

.w-full{
	width: 100%;
}

.h-full{
	height:100%;
}

.border-top-dark-2{
	border-top: 1px solid $grey-dark-2;
}

.border-top-dark-3{
	border-top: 1px solid $grey-dark-3;
}

.border-top-light-2{
	border-top: 1px solid $grey-light-2;
}

.contacts{
	background:$black url("../i/contact-bg.svg") no-repeat 50% 50%;
	background-size: cover;	
}

.hashtag{
	height: 24px;
	border-radius: 20px;
}

/* 2. BUTTONS/LINKS SETTINGS */

button{
	border-width: 0px;
	cursor: pointer;
	transition: all 0.2s;	
}

a{
	text-decoration: none;
	text-decoration-color: currentColor;
	color: $black;
	transition: all 0.2s;
	cursor: pointer;	 
	&:-webkit-any-link{
		&:focus{
			outline-offset: 0px;
			outline: -webkit-focus-ring-color auto 0px;
		}
	}
	&:hover{
		color: $grey-dark-4;
		&.text-white{
			color: $grey-light-4;
		}
		&.grey-dark-4{
			color: $grey-dark-6;
		}
		&.grey-light-4{
			color: $white;
		}
		&.grey-light-5{
			color: $white;	
		}
		&.blue-hover{
			color: $accent-blue-4;
			text-decoration: underline;
		}
	}
}

.btn{
	font-weight: 500;
	border-radius: 10px;
	flex-shrink: 0;
	white-space: nowrap;
	&.accent{
		background: $accent-blue-4;
		color: $white;
		&:hover{
			background: $accent-blue-5;			
		}
	}
	&.outline{
		background: $white;
		border: 1px solid $grey-dark-2;
		color: $black;
		transition: all 0.2s;
		&:hover{
			background: $grey-dark-2;
		}
	}
	&.white{
		background: $white;
		color: $black;
		border-radius: 54px;
		transition: all 0.2s;
		&:hover{
			background: $black;
			color: $white;			
		}
	}
	&.black{
		border: 1px solid $black;
		background: $black;
		color: $white;
		border-radius: 10px;
		transition: all 0.2s;
		&.medium{
			padding: 14px 16px !important;
		}
		&:hover{
			background: transparent;
			border: 1px solid $grey-dark-2;
			color: $black;		
		}		
	}
	&.disabled{
		background: rgba(0, 0, 0, 0.05);
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.3);
		pointer-events: none;
	}	
	&.small{
		font-size: 16px;
		line-height: 18px;
		padding: 11px 12px;
		letter-spacing: -0.5px;		
	}
	&.medium{
		font-size: 18px;
		line-height: 20px;
		padding: 15px 16px;		
		letter-spacing: -0.3px;		
	}
	&.large{
		font-size: 20px;
		line-height: 24px;
		padding: 18px 22px;	
		letter-spacing: -0.6px;		
	}
	&.fixed-small{
		padding: auto !important;
		padding-top: 11px !important;
		padding-bottom: 11px !important;
		width: 200px;
	}
	&.fixed-medium{
		padding: auto !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		width: 200px;
	}
	&.fixed-large{
		padding: auto !important;
		padding-top: 18px !important;
		padding-bottom: 18px !important;
		width: 200px;
	}
	&.rounded{
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&.small-r{
			height: 40px;
			width: 40px;
		}
		&.medium-r{
			height: 50px;
			width: 50px;
		}
		&.large-r{
			height: 60px;
			width: 60px;
		}		
	}	
}

.br-50{
	border-radius: 50px;
}
.br-63{
	border-radius: 63px;
}
.br-60{
	border-radius: 60px;
}
.br-10{
	border-radius: 10px;
}

.shadow{
	position: relative;
	cursor: pointer;
	&:after{
		content:'';
		position: absolute;
		background: rgba(0,0,0,0);
		height:100%;
		width:100%;
		top:0;
		right:0;
		bottom:0;
		left:0;
		transition: all 0.3s;				
	}
	&:hover{
		&:after{
			background: rgba(0,0,0,0.3);
		}					
	}
	&.br-10{
		&:after{
			border-radius: 10px;
		}
	}
}

/* 3. COLOR SETTINGS */

.grey-dark-6{
	color:$grey-dark-6;
}
.grey-dark-5{
	color:$grey-dark-5;
}
.grey-dark-4{
	color:$grey-dark-4;
}
.grey-dark-3{
	color:$grey-dark-3;
}
.grey-dark-2{
	color:$grey-dark-2;
}
.grey-dark-1{
	color:$grey-dark-1;
}
.grey-light-5{
	color:$grey-light-5;
}
.grey-light-4{
	color:$grey-light-4;
}
.grey-light-3{
	color:$grey-light-3;
}
.accent-blue-5{
	color:$accent-blue-5;
}
.accent-blue-4{
	color:$accent-blue-4;
}
.accent-blue-3{
	color:$accent-blue-3;
}
.accent-blue-2{
	color:$accent-blue-2;
}
.accent-blue-1{
	color:$accent-blue-1;
}
.accent-red-5{
	color:$accent-red-5;
}
.accent-red-4{
	color:$accent-red-4;
}
.accent-red-3{
	color:$accent-red-3;
}
.accent-red-2{
	color:$accent-red-2;
}
.accent-red-1{
	color:$accent-red-1;
}
.bg-black{
	background: $black;
}
.bg-white{
	background: $white;
}
.bg-grey{
	background: $grey-dark-2;
}
.bg-red{
	background: $accent-red-2;
}
.bg-grey-dark-3{
	background: $grey-dark-3; 
}
.bg-grey-light-2{
	background: $grey-light-2;
}
.text-white{
	color: $white;
}

/* 3. FONT-SIZING SETTINGS (HEADERS, ETC.) */

p{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5{
	margin: 0;
	font-weight: 500;
}

h1{
	font-size: 72px;
	line-height: 80px;
	letter-spacing: -4.5px;
	&.display{
		font-size: 120px;
		line-height: 120px;
		letter-spacing: -6px;
	}
	@media(max-width: 1200px){
		font-size: 64px;
		line-height: 70px;
		letter-spacing: -3px;
		&.display{
			font-size: 72px;
			line-height: 80px;
			letter-spacing: -4.5px;
		}		
	}
	@media(max-width: 992px){
		font-size: 48px;
		line-height: 54px;
		letter-spacing: -1.6px;
		&.display{
			font-size: 64px;
			line-height: 70px;
			letter-spacing: -3px;
		}		
	}
	@media(max-width: 768px){
		font-size: 36px;
		line-height: 44px;
		letter-spacing: -1.2px;
		&.display{
			font-size: 48px;
			line-height: 54px;
			letter-spacing: -1.6px;
		}		
	}
	@media(max-width: 576px){
		font-size: 28px;
		line-height: 34px;
		letter-spacing: -0.8px;
		&.display{
			font-size: 36px;
			line-height: 44px;
			letter-spacing: -1.2px;
		}		
	}	
}
h2{
	font-size: 64px;
	line-height: 70px;
	letter-spacing: -3px;
	@media(max-width: 1200px){
		font-size: 48px;
		line-height: 54px;
		letter-spacing: -1.6px;
	}
	@media(max-width: 992px){
		font-size: 36px;
		line-height: 44px;
		letter-spacing: -1.2px;
	}
	@media(max-width: 768px){
		font-size: 28px;
		line-height: 34px;
		letter-spacing: -0.8px;
	}
	@media(max-width: 576px){
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.4px;
	}	
}
h3{
	font-size: 48px;
	line-height: 54px;
	letter-spacing: -1.6px;
	@media(max-width: 1200px){
		font-size: 36px;
		line-height: 44px;
		letter-spacing: -1.2px;
	}
	@media(max-width: 992px){
		font-size: 28px;
		line-height: 34px;
		letter-spacing: -0.8px;
	}
	@media(max-width: 768px){
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.4px;
	}
	@media(max-width: 576px){
		font-size: 24px;
		line-height: 28px;
		letter-spacing: -0.2px;
	}	
}
h4{
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -1.2px;
	@media(max-width: 1200px){
		font-size: 28px;
		line-height: 34px;
		letter-spacing: -0.8px;
	}
	@media(max-width: 992px){
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.4px;
	}
	@media(max-width: 768px){
		font-size: 24px;
		line-height: 28px;
		letter-spacing: -0.2px;
	}
	@media(max-width: 576px){
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.1px;
	}	
}
h5{
	font-size: 28px;
	line-height: 34px;
	letter-spacing: -0.8px;
	@media(max-width: 1200px){
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.8px;
	}
	@media(max-width: 992px){
		font-size: 24px;
		line-height: 28px;
		letter-spacing: -0.2px;
	}
	@media(max-width: 768px){
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.1px;
	}
	@media(max-width: 576px){
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0px;
	}	
}

.lead{
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -1px;
	font-weight: 400;
	&.medium{
		font-weight: 500;			
	}
	@media(max-width: 992px){
		font-size: 21px;
		line-height: 30px;
		letter-spacing: -0.8px;		
	}
	@media(max-width: 768px){
		font-size: 17px;
		line-height: 25px;
		letter-spacing: -0.7px;		
	}
	@media(max-width: 576px){
		font-size: 15px;
		line-height: 23px;
		letter-spacing: -0.6px;	
	}	
}

.body-21{
	font-size: 21px;
	line-height: 30px;
	letter-spacing: -0.8px;
}

.body-17{
	font-size: 17px;
	line-height: 25px;
	letter-spacing: -0.7px;
}

.body-15{
	font-size: 15px;
	line-height: 23px;
	letter-spacing: -0.6px;
}

.caption-1, .caption-2, .caption-3, .caption-4{
	&.medium{
		font-weight: 500;		
	}
}

.caption-1{
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.6px;
	@media(max-width: 576px){
		font-size: 18px;
		line-height: 20px;
		letter-spacing: -0.3px;			
	}
}

.caption-2{
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.3px;
	@media(max-width: 576px){
		font-size: 16px;
		line-height: 18px;
		letter-spacing: -0.5px;			
	}	
}

.caption-3{
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.5px;	
	@media(max-width: 576px){
		font-size: 13px;
		line-height: 15px;
		letter-spacing: -0.2px;				
	}	
}

.caption-4{
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -0.2px;	
}

/* 5. NAVIGATION AND FOOTER */

.logo{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.5px;		
}
.nav{
	font-size: $font-size;
	line-height: 18px;
	letter-spacing: -0.5px;
	font-weight: 500;
	.hamburger{
		background:$white url("../i/hamburger-dark.svg") no-repeat 50% 50%;
		background-size: 16px auto;			
		height: 24px;
		width: 24px;
	}
	.close{
		background:transparent url("../i/cross-white.svg") no-repeat 50% 50%;
		height: 24px;
		width: 24px;
	}	
	&.dark{
		background: $black;
		.hamburger{
			background:$black url("../i/hamburger-white.svg") no-repeat 50% 50%;
		}
		a{
			text-decoration: none;
		}
	}
	@media(max-width: 576px){
		.mobile-menu{
			display: none;
		}
		&.opened{
			.mobile-menu{
				display: block;
				position: absolute;
				right: 0;
				top:0;
				bottom:0;
				background: $black;
				text-align: center;
				a{
					display: block;
					color: $white !important;
				}
			}
			
		}
	}
}

.footer{
	.social{
		background: $grey-light-2;
		transition: all 0.2s;
		svg{
			fill: $white;
		}
		&:hover{
			background: $white;
			svg{
				fill: $grey-dark-5;
			}			
		}
	}
}

/* 6. POPUPS */

.hello_popup{
	max-width: 630px;
	padding: 25px 36px;
	position: fixed;
	left: 40px;
	bottom: 40px;
	background: $grey-dark-4;
	visibility:visible;
	opacity:0;
	.btn{
		padding-left: 40px;
		padding-right: 40px;
	}
	.close-btn{
		position: absolute;
		top:12px;
		right:12px;
		height: 24px;
		width: 24px;
		background:transparent url("../i/cross-white.svg") no-repeat 50% 50%;		
	}
	@media(max-width: 768px){
		max-width: 280px;
		left: 20px;
		bottom: 20px;
	}
}

.cookie-popup-container, .subscribe-popup-container{
	position: fixed;
	top:0;
	right:0;
	height: 100%;
	width: 100%;
	height: 100vh;
	display: none;	
	&.show{
		display: block;
	}
}

.subscribe-popup-container{
	background: rgba(0,0,0,0.5);
}

.cookie_popup{
	max-height: 537px;
	padding: 36px;
	position: relative;
	.close-btn{
		position: absolute;
		top: 12px;
		right: 12px;
	}
	.overflow-auto{
		height: 305px;
		overflow-y: hidden;
		overflow-y: scroll;
	}
	@media(max-width: 575.98px){
		.overflow-auto{
			height: 205px;
		}		
	}
}

.subscribe_popup{
	padding: 52px;
	position: relative;
	background:$black url("../i/subscription-popup-bg.svg") no-repeat 50% 50%;
	background-size:cover;
	.close-btn{
		position: absolute;
		top: 12px;
		right: 12px;
	}
	input{
		height: 50px;
		background: $grey-dark-2;
		border-width: 0px;
		color: $black;
		font-size: 18px;
		letter-spacing: -0.3px;
		&:focus{
			outline: -webkit-focus-ring-color auto 0px;		
		}
	}
	@media(max-width: 576px){
		padding: 30px;
	}
}