@import "variables.scss";

/* Case page styles */

.block-12{
	.person-photo{
		border-radius: 50%;
		height: 36px;
		width: 36px;
		margin-right: 12px;
	}
}

.block-13{
	.number{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 1px solid $grey-dark-2;
	}
}

.block-15{
	.slider-text-block{
		width: 920px;
		.slick-arrows{
			position: relative;
			height: 60px;
		}
		.slick-arrow{
			height: 24px;
			width: 24px;
			position: absolute;
			cursor: pointer;
			transition: all 0.3s; 
			display: block;
			&.next{
				right: 18px;
				bottom: 20px;
			}
			&.prev{
				right: 68px;
				bottom: 20px;
			}
			svg{
				fill: $grey-dark-4;
			}
			&:hover{
				&:before{
					content:'';
					height: 60px;
					width: 60px;
					border-radius: 50px;
					border: 1px solid $grey-dark-1;
					position: absolute;
					top: -18px;
					right: -18px;
				}
				svg{
					fill: $black;
				}
			}
		}
	}
	@media(max-width: 991.98px){
		.slider-text-block{
			width: 86.82vw;
		}		
	}
	@media(max-width: 576.98px){
		.slider-text-block{
			.slick-arrows{
				display: flex;
			}
			.slick-arrow{
				margin-top: 20px;
				height: 60px;
				width: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				&.next{
					right: auto;
					bottom: auto;
				}
				&.prev{
					margin-right: 20px;
					right: auto;
					bottom: auto;
				}
				&:hover{
					&:before{
						content:'';
						top: 0px;
						right: 0px;
					}
				} 
			}
		}		
	}
}

.block-16{
	overflow: hidden;
	.container-fluid{
		position: relative;
	}
	.slider-4{
		.slick-slide{
			height: calc(100vw / 2.66);
			.slide-inner{
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}
	}
	.slider-4-menu{
		position: absolute;
		bottom: 70px;
		left: 50%;
		transform: translateX(-50%);
		background: $white;
		height: 50px;
		border-radius:66px; 
		border: 1px solid $grey-dark-2;
		.slider-4-menu-item{
			color: $grey-dark-3;
			cursor: pointer;
			transition: all 0.2s;
			svg{
				fill: $grey-dark-3;
			}
			&.active{
				color: $accent-blue-4;
				svg{
					fill: $accent-blue-4;
				}				
			}
		}
	}
	@media(max-width: 992px){
		.slider-4{
			.slick-slide{
				height: calc(100vw / 1.8);
			}
		}		
	}
	@media(max-width: 576px){
		.slider-4{
			.slick-slide{
				height: 100vw;
			}
		}
		.slider-4-menu{
			bottom: 30px;
			.slider-4-menu-item{
				.caption-2{
					display: none;
					transition: all 0.2s;
				}
				&.active{
					.caption-2{
						display: block;
					}
				}
			}
		}		
	}	
}

.block-17{
	position: relative;
	img{
		position: absolute;
		top:83px;
	}
	@media(max-width: 576px){
		.img-container{
			position: relative;
			top:0;
			height:100vw;
		}
	}
}

.block-18{
	.project-block{
		position: relative;
		padding-bottom: 360px;
		img{
			position: absolute;
			bottom:0;
			left:50%;
			transform: translateX(-50%);
		}
	}
}