@import "variables.scss";

/* Main page styles */

.block-3{
	.img-container{
		position: relative;
		cursor: pointer;
		.img-block{
			position: relative;
			&:after{ 
				content:'';
				position: absolute;
				background: rgba(0,0,0,0.3);
				height:100%;
				width:100%;
				top:0;
				right:0;
				bottom:0;
				left:0;
				transition: all 0.3s;
			}
		}
		.btn{
			position: absolute;
			top:50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover{
			.img-block{
				&:after{
					background: rgba(0,0,0,0);	
				}
			}
			.btn{
				background: black;
				color: white;
			}
		}
	}
}

.block-4{
	background:$black url("../i/red-bg.svg") no-repeat 50% 50%;
	background-size: cover;
	@media(max-width: 992px){
		img{
			margin-right: 70px;
			margin-bottom: 20px;
			&:nth-of-type(3n){
				margin-right: 0;
			}
		}
	}
	@media(max-width: 768px){
		img{
			margin-right: 50px;
		}		
	}
	@media(max-width: 576px){
		img{
			margin-right: 20px;
			&:nth-of-type(3n){
				margin-right: 20px;
			}
			&:nth-of-type(2n){
				margin-right: 0px;
			}			
		}		
	}	
}

.block-5{
	.line{
		width: 300px;
		height:1px;
		background: $grey-light-3;
	}
}

.block-6{
	overflow: hidden;
	.slider-1{
		.slick-list{
			overflow:visible;
			cursor:move;
		}
		.slick-slide{
			margin-right: 28px;
		} 
	}
}

.block-8{
	.slider-2-menu{
		a{
			color: $grey-dark-3;
			cursor: pointer;
			transition: all 0.2s;
			h4{
				line-height: 44px;
			}			
			&.active, &:hover{
				color: $black;
				&:after{
					content:"→";
					font-weight: 500;
					font-size: 36px;
					line-height: 44px;
					letter-spacing: -1.2px;
					margin-left:5px;
				}
			}
		}
	}
	.slider-2{
		.slick-slide{
			.shadow{
				height: 420px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
	}
	@media(max-width: 1199.98px){
		.slider-2{
			.slick-slide{
				.shadow{
					height: 362px;
				}
			}
		}			
	}	
	@media(max-width: 991.98px){
		.slider-2{
			.slick-slide{
				.shadow{
					height: 302px;
				}
			}
		}			
	}	
	@media(max-width: 767.98px){
		.slider-2{
			.slick-slide{
				.shadow{
					height: 223px;
				}
			}
		}			
	}
	@media(max-width: 576.98px){
		.slider-2{
			.slick-slide{
				.shadow{
					height: calc((100vw - 30px) / 2.28);
				}
			}
		}		
	}
}


.block-9{
	@media(max-width: 992px){
		.pseudo-table{
			position: relative;
			&:after{
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 40px;
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 78%);
			}			
			.overflow{
				overflow: auto;
			}
			.inner{
				min-width: 960px; 			
			}
		}
	}
}

.block-10{
	img{
		max-width: 100%;
	}
}

