/* Variables */

$font_first: 'Inter', sans-serif;

$font_size: 16px;

$white: #ffffff;
$black: #000000;

$grey-dark-6: #000000;
$grey-dark-5: rgba(0, 0, 0, 0.8);
$grey-dark-4: rgba(0, 0, 0, 0.6);
$grey-dark-3: rgba(0, 0, 0, 0.3);
$grey-dark-2: rgba(0, 0, 0, 0.1);
$grey-dark-1: rgba(0, 0, 0, 0.05);

$grey-light-5: rgba(255, 255, 255, 0.7);
$grey-light-4: rgba(255, 255, 255, 0.5);
$grey-light-3: rgba(255, 255, 255, 0.3);
$grey-light-2: rgba(255, 255, 255, 0.2);


$accent-blue-5: #1156DB;
$accent-blue-4: #2D74FF; 
$accent-blue-3: #568FFF;
$accent-blue-2: #D5E3FF;
$accent-blue-1: #F1F4FA;


$accent-red-5: #E31F43;
$accent-red-4: #FA4A69;
$accent-red-3: #FB6E87;
$accent-red-2: #FEDBE1;
$accent-red-1: #FEF3F5;






